beautifulsoup4==4.7.1
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cssselect==1.0.3
Flask==1.0.2
Flask-Cors==3.0.7
gunicorn==19.9.0
httplib2>=0.18.0
idna==2.8
itsdangerous==1.1.0
Jinja2>=2.10.1
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.16.2
oauthlib==3.0.1
pandas==0.24.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pygsheets==2.0.0
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
soupsieve==1.9
tablib>=0.11.5
uritemplate==3.0.0
urllib3>=1.24.2
Werkzeug==0.15.3
